@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
:root {
    --primary-color: #331403;
    --secondary-color: #4F533D;
    --accent1-color:#cc8054;
    --accent2-color: #4E3F37;
    --heading-font: 'Lora', serif;
    --paragraph-font: 'Lora', serif;

    --nav-background-color: #cc8054;
    --nav-link-color: #331403;
    --nav-hover-link-color: #383230;
    --nav-hover-background-color: #cf8e55;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
header img{
    width: 200px;
}

h1, h2 {
    font-family:var(--heading-font);
    color:var( --secondary-color);
}

a{
    text-decoration: none;
}
.hero img{
    display: block;
    width: 190%;
    height: auto;
    top: 
}
h1{
    position: absolute;
    padding: .5rem;
    border: black;
}
article{
    position:absolute;
}
article img{
    float: right;
    width: 200px;

}