@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
:root {
    --primary-color: #e7b58c;
    --secondary-color: #4F533D;
    --accent1-color:#cc8054;
    --accent2-color: #4E3F37;
    --heading-font: 'Lora', serif;
    --paragraph-font: 'Lora', serif;

    --nav-background-color: #cc8054;
    --nav-link-color: #331403;
    --nav-hover-link-color: #383230;
    --nav-hover-background-color: #cf8e55;
}
*{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    padding: .5rem;
	opacity: 0.8;
    background: rgba(223, 149, 76, 0.7);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
}

body {
    align-items: center;
    justify-content: center;
    font-family: var(--paragraph-font);
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
 
}
header img{
    margin: 0 auto;
	width: 90px;
	height: auto;
}
header nav{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav a:hover{
    background-color: var(--nav-link-color) ;
    transition: 0.6s;
    color: white;
}

a{
    text-decoration: none;
    padding: 1.5rem;
    font-weight: bold;
}
h2,h3 {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 3rem;
}
h3{
    font-size: 1.5rem;
}

.herodiv {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;

}
.herodiv img {
    width: 100%;
    object-fit: cover;
    margin: 2px;   
}
#heroban{
    filter: brightness(.4);
}
.stats img{
    width: 20%;
    height: 20%;
    float: right;
}
.herodiv h1{
    position: absolute;
    right: 10px;
    left: 10px;
    bottom:90%;
	padding: 0.65rem;
	opacity: 0.8;
    text-align: center;
    width: auto;
    color: var(--primary-color);
    font-size: 90px;
}
.stats p{
    color: var(--primary-color);
}
.stats{
    position: absolute;
    top: 30%;
	padding: 0.65rem;
    text-align: left;
    width: auto;
    margin: 1rem 1rem 1rem 1rem;
    border: var(--accent1-color) solid 3px;
   
}
.stats{
    font-size: 30px;
}

.history img{
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
}
.hcontainer{
    background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    padding: 5px;
    margin: 1.5rem 0 1.5rem 0
}
.history{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 500px 1fr;
    grid-gap:20px;
    align-items: center;
    padding: 20px;
    margin: auto;
}
.history p{
    font-size: 30px;
}
.adventure{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}


figure img {
    width: 400px;
    height: auto;
    padding: 5px;
}
 
figure figcaption {
    background-color: var(--nav-link-color);
    color: #fff;
    font: bold;
    padding: 2px;
    text-align: center;
}

footer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
    
}   
footer img{
    width: 25px;
    height: 25px;

}
footer nav{
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 0 auto;
    
}
footer p{
    grid-column: 2;
}

/* contact us*/
.reach{
    position: relative;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 0;
}
.astats{
    position: absolute;
    top: 0%;
    text-align: center;
    font-size: 90px;
    color: var(--primary-color);
    padding: 0.65rem;
    text-align: center;
    width: 98.75%;
}
.reach img{
    width:100%;
    object-fit: cover;
    margin: auto;
}
.celeb{
    padding: 5px;
    margin-top:1rem;
    background-color:rgba(223, 149, 76, 0.7);
}
.celeb p{
    font-size: 30px;
}
.team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1rem;
    margin-top:1rem;  
}
.team img{
    height: 227px;
    width: 227px;
    align-items: center;
    justify-content: center;
}

.reservations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 20px;
    margin: auto;
}
.customer-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

iframe{
    width: auto;
    height: auto;
    margin-top: 1rem;
    border: 1px solid black;
    background-color:rgba(223, 149, 76, 0.7); 
}


.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    
}
form{
    width: auto;
    margin: 1rem auto;
    padding: .5rem;
    border: 1px solid #000000;
    background-color:rgba(223, 149, 76, 0.7); 
    border-radius: 1rem;
    display: grid;
}
#message{
    width: 42%;
}

fieldset{
    display: grid;
    grid-gap:.5rem;
    margin: .5rem;
    padding: 20px;
    
}
legend{
    font-size: larger;
    padding: 5px;
}
input[type="radio"]{
    vertical-align: bottom;
    width: 15px;
    height: 15px;
}
button{
    background-color: #91522e;
    color: #ffff;
    padding: 10px;
    border: none;
    font: 1rem;
}
button:hover{
    background-color: #c26027;
}
/* trips */

.trips{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: auto;
    display: block;
    }

.tstats{
    position: absolute;
    top: 0%;
    text-align: center;
    font-size: 90px;
    color: var(--primary-color);
    padding: 0.65rem;
    text-align: center;
    width: 98.75%;
}

.offer{
    display: grid;
    grid-template-columns: .1fr 2fr 2fr 2fr;
    text-align: center;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1em;
}
.offer h2{
    font-size: 35px;
	letter-spacing: 3px;
	border-radius: 1px;
	padding: 30px 30px;
}
.offer img{
    width: 400px;
    height: 350px;
}
.offer a{
	text-decoration: none;
    color: var(--accent2-color);
	font-weight: bold;
	font-size: 18px;
	border-radius: 12px;
	padding: 12px 30px;
    text-align: center;
}
.offer a:hover{
	letter-spacing: 3px;
	transition: 0.6s;
}
.trips figure:hover{
    transform: scale(1.2);
}

.lodging{
    display: grid;
    grid-template-columns: .5fr 6fr;
}
.award{
    justify-content: center;
    padding:1rem;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.award p{
    text-align: center;
    font-size: 15px;
}

.award h2{
    text-decoration: none;
    font-size: 2rem;
}

.award img{
    width: 200px;
    height: auto;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.award a{
    padding: .5rem;
    align-items: center;
    justify-content: center;
    background-color: #91522e;
    color: #ffff;
    font: 1rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
.award a:hover{
    background-color: #c26027;
    letter-spacing: 3px;
	transition: 0.6s;    
}

#reserve{
    font-size: 3rem;
    text-decoration: none;
    background-color:rgba(184, 112, 40, 0.4);
}
#tbanner{
    filter: brightness(.4);
    width:100%;
    object-fit: cover;
    margin: auto;
}
/* homepage */
.home{
    bottom: 95%;
    position: relative;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}
.home img{
    width:100%;
    object-fit: cover;
    margin: auto;
}
.home h1{
    position: absolute;
    right: 10px;
    left: 10px;
    top: 10%;
	padding: 0.65rem;
	opacity: 0.8;
    text-align: center;
    width: auto;
    color: var(--primary-color);
    font-size: 180px;
}
.home a{
    position: absolute;
    top:85%;
    left: 80%;
    font-size: 60px;
    padding: 15px;
    border-radius: 5px;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
}
.home a:hover{
	letter-spacing: 3px;
	transition: 0.6s;
}
.purpose{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    justify-content: center;
    align-content: center;
}
.purpose img{
    width: 700px;
    height: auto;
}
.purpose figcaption{
    font-size: 40px;
}
.heading{
    display: grid;
    padding: 5px;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}
.heading img{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row:1/6;

}
.msg{
    align-items: center;
    justify-content: center;
    color: black;
    background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    padding: 5px;
    grid-column: 4/7;
    grid-row: 2/5;
    padding:20px;
    font-size: 20px;
}
footer{
    background: rgba(223, 149, 76, 0.7);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

