@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
:root {
    --primary-color: #f05400;
    --secondary-color: #4F533D;
    --accent1-color:#cc8054;
    --accent2-color: #4E3F37;
    --heading-font: 'Lora', serif;
    --paragraph-font: 'Lora', serif;

    --nav-background-color: #cc8054;
    --nav-link-color: #331403;
    --nav-hover-link-color: #383230;
    --nav-hover-background-color: #cf8e55;
}
*{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    padding: .5rem;
	opacity: 0.8;
    background: rgba(223, 149, 76, 0.7);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-image: url(x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;

}


body {
    align-items: center;
    justify-content: center;
    font-family: var(--paragraph-font);
 
}
header img{
    margin: 0 auto;
	width: 90px;
	height: auto;
}
header nav{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav a:hover{
    background-color: var(--nav-link-color) ;
    transition: 0.6s;
    color: white;
}

a{
    text-decoration: none;
    padding: 1.5rem;
    font-weight: bold;
}
h2,h3 {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 3rem;
}
h3{
    font-size: 1.5rem;
}

.herodiv {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;

}
.herodiv img {
    width: 100%;
    object-fit: cover;
    margin: 2px;
}
.stats img{
    width: 20%;
    height: 20%;
    float: right;
}
.stats h1{
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 100%;
	padding: 0.65rem;
	opacity: 0.8;
    text-align: center;
    width: auto;
    background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    
}
.stats{
    position: absolute;
    top: 30%;
	padding: 0.65rem;
    text-align: left;
    width: auto;
    margin: 1rem 1rem 1rem 1rem;
    background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    
}
.stats{
    font-size: 30px;
}

.history img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
}
.history{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 200px 1fr;
    grid-gap:20px;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    padding: 20px;
    margin: auto;

}
.adventure{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
}


figure img {
    width: 227px;
    height: auto;
    padding: 5px;
}
 
figure figcaption {
    background-color: var(--nav-link-color);
    color: #fff;
    font: bold;
    padding: 2px;
    text-align: center;
}

footer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
    
}   
footer img{
    width: 25px;
    height: 25px;

}
footer nav{
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 0 auto;
    
}
footer p{
    grid-column: 2;
}

/* contact us*/
.reach{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: auto;


}
.team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid rgb(134, 125, 125);
    background-color:rgba(223, 149, 76, 0.7); 
    border-radius: 1rem;
    background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
   
}
.celeb{
    background-color:rgba(223, 149, 76, 0.7); 

}
.team img{
    height: 227px;
    width: 227px;
    align-items: center;
    justify-content: center;
}
.reservations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    padding: 20px;
    margin: auto;
}
.customer-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

iframe{
    width: auto;
    height: auto;
    margin-top: 1rem;
    border: 1px solid black;
    background-color:rgba(223, 149, 76, 0.7); 
}


.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
    background-color:rgba(223, 149, 76, 0.7); 
    margin-top: 1rem;
    border-radius: 1rem;
    
}
form{
    width: auto;
    margin: 1rem auto;
    padding: .5rem;
    border: 1px solid #000000;
    background-color:rgba(223, 149, 76, 0.7); 
    border-radius: 1rem;
    display: grid;
}
#message{
    width: 42%;
}

fieldset{
    display: grid;
    grid-gap:.5rem;
    margin: .5rem;
    padding: 20px;
    
}
legend{
    font-size: larger;
    padding: 5px;
}
input[type="radio"]{
    vertical-align: bottom;
    width: 15px;
    height: 15px;
}
button{
    background-color: #91522e;
    color: #ffff;
    padding: 10px;
    border: none;
    font: 1rem;
}
button:hover{
    background-color: #c26027;
}
/* trips */
.astats{
    position: absolute;
    top: 10%;
    text-align: center;
    font-size: 90px;
    color: #e7b58c;
    padding: 0.65rem;
    text-align: center;
    width: 98.75%;
}

.offer{
    display: grid;
    grid-template-columns: .1fr 2fr 2fr 2fr;
    text-align: center;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1em;
}

.offer h2{
    font-size: 35px;
	letter-spacing: 3px;
	border-radius: 1px;
	padding: 30px 30px;
}
.plantrip{
    text-align: center;
}
.offer img{
    width: 400px;
    height: 350px;
}
.offer a{
	text-decoration: none;
    color: var(--accent2-color);
	font-weight: bold;
	font-size: 18px;
	border-radius: 12px;
	padding: 12px 30px;
    text-align: center;
}
.offer a:hover{
	letter-spacing: 3px;
	transition: 0.6s;
}
figure:hover{
    transform: scale(1.2);
}

.lodging{
    display: grid;
    grid-template-columns: .5fr 6fr;
}
.award{
    justify-content: center;
    padding:1rem;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.award p{
    text-align: center;
    font-size: 15px;
}

.award h2{
    text-decoration: none;
    font-size: 2rem;
}

.award img{
    width: 200px;
    height: auto;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.award a{
    padding: .5rem;
    align-items: center;
    justify-content: center;
    background-color: #91522e;
    color: #ffff;
    font: 1rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
.award a:hover{
    background-color: #c26027;
    letter-spacing: 3px;
	transition: 0.6s;    
}

#reserve{
    font-size: 3rem;
    text-decoration: none;
    background-color:rgba(184, 112, 40, 0.4);
}
#tbanner{
    filter: brightness(.4);
}

