@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lora', serif;
    font-size: 1rem;
    color: #f0ddc1;
}
header{
    margin: 0 auto;
}
h1{
    margin: 1rem;
    font-size: 2rem;
    color: #844621;
    text-align: center;
}
form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: solid #ffffff;
    border-radius: 2rem;
    background-color: #504b49;
    display: grid;
}
fieldset{
    display: grid;
    grid-gap:.5rem;
    margin: .5rem;
    padding: 20px;
}
legend{
    font-size: larger;
    padding: 5px;
}
input, label, button, textarea, select{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
}

label{
    text-align: center;
    padding-right: 1rem;
}
input, select, textarea{
    padding: 0.5rem;
    font-size:15px;
}

button{
    background-color: #91522e;
    color: #ffff;
    padding: 10px;
    border: none;
    font: 1rem;
}
button:hover{
    background-color: #813407;
}
img {
    margin:0 auto;
    border: solid #fff 1px;

}

